$main-blue: #5175FF;
$hover-blue: #829CFF;
$light-blue: #E4EAFF;
$hover-light-blue: #D3DCFF;
$white: #FFF;
$grey-white: #FAFAFA;
$accent-black: #333950;
$text-black: #747B95;
$dark-bg: #25293A;
$light-red: #F05B5B;